{% extends 'base.html.twig' %}

{% block title %}Edit CategoryComment{% endblock %}

{% block body %}
    <h1>Edit CategoryComment</h1>

    {{ include('category_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_comment_index') }}">back to list</a>

    {{ include('category_comment/_delete_form.html.twig') }}
{% endblock %}
