{% extends 'base.html.twig' %}

{% block title %}New CategoryComment{% endblock %}

{% block body %}
    <h1>Create new CategoryComment</h1>

    {{ include('category_comment/_form.html.twig') }}

    <a href="{{ path('category_comment_index') }}">back to list</a>
{% endblock %}
