<table class="table comment_list">
    <thead>
    <tr>
        <th>Author</th>
        <th>Created_at</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody class="comment_list_body">
    {% for comment in comments %}
        <tr class="comment_row">
            <td class="comment_author">{{ comment.author }}</td>
            <td class="comment_created">{{ comment.createdAt ? comment.createdAt|date('Y-m-d') : '' }}</td>
            <td class="comment_content">{{ comment.content }}</td>
        </tr>
    {% else %}
        <tr class="comment_row">
            <td class="comment_author">No comments found</td>
            <td class="comment_created"></td>
            <td class="comment_content"></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
