{{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <div class="text-center">
        <button class="btn btn-primary w-50 mt-3 send_comment" type="submit">Send comment</button>
    </div>
{{ form_end(commentForm) }}